.competition-card {
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.competition-card:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.btn-main-xs {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background-color: #043786;
  border: 2px solid #043786;  
}

.btn-main-xs:hover {
  color: #043786;
  background-color: transparent;
  border: 2px solid #043786;  
}