@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Staatliches&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive;
*/

body {
  background-image: url('/bg-football-data-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
h2,
h3 {
  font-family: 'Staatliches', cursive;
}

h2 {
  border-bottom: 5px solid;
  border-image: linear-gradient(45deg, #043786, #4a7ab8) 1;
}

h4,
h5,
h6,
p {
  font-family: 'Poppins', sans-serif;
}

/* TABLES */

table {
  font-family: 'Poppins', sans-serif;
}

table>:not(caption)>*>* {
  background-color: rgb(255, 255, 255, .4) !important;
}